.App {
  color:#333;
  border:1px solid #aaa;
  border-radius:4px;
  background:#ddd;
  margin:2em;
  padding:0 1em;
  height:100vh;
  min-height: 20em;
  min-width: 32em;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.15);
}
h1{
  border:1px solid #ddd;
  text-align: center;
}
.App > .todolist >li:nth-child(even){
  background: #eee
}
.App > .todolist > li:nth-child(even){
  background: transparent;
}

.inputWrapper{
  display:flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border:1px solid #ddd;
  background:white;
  border-radius: 5px;
}
.inputWrapper input{
  line-height:20px;
  border:0;
  border-bottom:1px solid black;
  background:white;
  outline: none;
  width:100%;
  margin:10px 30px;
 
}
.inputWrapper h3{
  width:100%;
  margin:10px 30px;
}
.itemWrapper{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  border:1px solid #ddd;
  background:white;
  border-radius: 5px;
  margin:20px 0;
  height:520px;
  overflow: hidden;
}

.itemWrapper > .title{
  flex-grow: 1;
  padding: 0 .5em;
}
ol{
  width:100%;
}
ol>li{
  margin:10px;
  border:1px solid #eee;
  border-radius: 3px;
  padding:5px;
  position:relative;
}
